<h3>Sensors</h3>
<table class="table">
    <thead>
        <tr>
            <th>Sensor name</th>
            <th>ON/OFF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fan #1</td>
            <td><input type="checkbox" checked disabled /></td>
        </tr>
        <tr>
            <td>Light sensor #1</td>
            <td><input type="checkbox" checked disabled/></td>
        </tr>
        <tr>
            <td>Temperature sensor #1</td>
            <td><input type="checkbox" checked disabled/></td>
        </tr>
        <tr>
            <td>Temperature sensor #2</td>
            <td><input type="checkbox" checked disabled/></td>
        </tr>
        <tr>
            <td>Distance sensor #1</td>
            <td><input type="checkbox" checked disabled/></td>
        </tr>
    </tbody>
</table>